<?xml version="1.0"?>

<launch>

    <arg name="gui" default="false" />
    <arg name="project_name" default="" />
    <!-- <arg name="roadmap" default="maps/mobile_robotics_lab/straight.xml"/> -->
    <!-- <arg name="roadmap" default="maps/mobile_robotics_lab/diagonal.xml"/> -->
    <arg name="jackal_name" default="jackal1"/>
    <arg name="num_non_com_obj" default="1"/>
    <arg name="laptop_name" default="jules" />
    <env name="ROSCONSOLE_CONFIG_FILE" value="/workspace/src/guidance_planner_multi_robot_nodes/config/rosconsole.conf" />
    <!-- Dynamically set the other jackal based on current jackal -->
    <arg name="other_jackal" value="jackal2" if="$(eval arg('jackal_name') == 'jackal1')"/>
    <arg name="other_jackal" value="jackal1" if="$(eval arg('jackal_name') == 'jackal2')"/>
    <arg name="other_jackal" value="jackal1" if="$(eval arg('jackal_name') == 'jackal3')"/>
    <arg name="other_jackal" value="jackal1" if="$(eval arg('jackal_name') == 'jackal4')"/>

    <arg name="roadmap" value="maps/mobile_robotics_lab/diagonal.xml"          if="$(eval arg('jackal_name') == 'jackal1')"/>
    <arg name="roadmap" value="maps/mobile_robotics_lab/diagonal_reversed.xml" if="$(eval arg('jackal_name') == 'jackal2')"/>

    <!-- Direction of experiment: true = forward, false = backward -->
    
    <arg name="direction_of_experiment" value="true" if="$(eval arg('jackal_name') == 'jackal1')" />
    <arg name="direction_of_experiment" value="false" if="$(eval arg('jackal_name') == 'jackal2')" />
    
    <param name="forward_experiment" type="bool" value="$(arg direction_of_experiment)"/>
    <param name="num_non_com_obj" type="int" value="$(arg num_non_com_obj)"/>
    <param name="ego_robot_ns" type="string" value="/$(arg jackal_name)" /> 
    <param name="laptop_name" type="string" value="$(arg laptop_name)" /> 

    <rosparam command="load" file="$(find guidance_planner_multi_robot_nodes)/config/multi_robot_settings_tu_delt_laptop.yaml" if="$(eval arg('laptop_name') == 'tu_delft')"/>
    <rosparam command="load" file="$(find guidance_planner_multi_robot_nodes)/config/multi_robot_settings.yaml" if="$(eval arg('laptop_name') == 'jules')"/>
    <rosparam command="load" file="$(find mpc_planner_jackal)/config/guidance_planner.yaml"/>
    <!-- the config/setting.yaml is loaded inside the c++ code -->
    <node pkg="mpc_planner_jackal" type="jules_ros1_real_jackalplanner" name="jackal_planner" respawn="false" output="screen">
        <param name="simulation" value="false"/>
        <remap from="/input/state" to="/$(arg jackal_name)/odometry/filtered"/>
        <remap from="/input/state_pose" to="/none_state_pose"/>
        <remap from="/input/goal" to="/roadmap/goal"/>
        <remap from="/input/reference_path" to="/roadmap/reference"/>
        <remap from="/input/obstacles_sim" to="/none_obstacles_sim"/>
        <remap from="/input/obstacles" to="/vicon_util/dynamic_objects"/>
        <remap from="/input/bluetooth" to="/bluetooth_teleop/joy"/>
        <remap from="/output/command" to="/cmd_vel"/>
        


        <remap from="/robot_to_robot/output/current_trajectory" to="/$(arg jackal_name)/robot_to_robot/output/current_trajectory"/>
        <remap from="/events/objective_reached"                 to="/$(arg jackal_name)/events/objective_reached" />
        <remap from="/output/pose"                              to="/$(arg jackal_name)/output/pose" />
        <remap from="/joy"                                      to="/$(arg jackal_name)/jules_joy"/>
    </node>
        

    <include file="$(find vicon_bridge)/launch/vicon.launch">
        <arg name="object_names" value="[$(arg jackal_name), $(arg other_jackal), dynamic_object1]"/>
        <arg name="object_msg_types" value="[geometry_msgs/PoseWithCovarianceStamped, geometry_msgs/PoseWithCovarianceStamped, geometry_msgs/PoseWithCovarianceStamped]"/>
        <arg name="object_frame_ids" value="[map, map, map]"/>
        <arg name="object_publish_topics" value="[/vicon/$(arg jackal_name), /vicon/$(arg other_jackal), /vicon/dynamic_object1]"/>
        <arg name="object_frequency_divider" value="[2, 2, 2]"/>
    </include>

    <!-- Bundle dynamic obstacles in one convenient message -->
    <include file="$(find vicon_util)/launch/bundle_obstacles.launch">
        <arg name="run_ekfs" value="true"/>
        <arg name="visualize_scene" value="true"/>
        <arg name="robot_topic" value="$(arg jackal_name)"/>
        <arg name="dynamic_object_topics" value="[$(arg jackal_name), $(arg other_jackal), dynamic_object1]"/>
        <arg name="dynamic_object_radius" value="0.4"/>
        <arg name="static_object_topics" value="[]"/>
        <arg name="static_object_radius" value="0.3"/>
        <arg name="static_object_sizes" value="[]"/>
    </include>

    <include file="$(find jackal_description)/launch/description.launch"/>

    <node pkg="guidance_planner_multi_robot_nodes" type="middleware_publisher_node.py" name="middleware_from_ROS_to_ZEROMQ_publisher_node" required="false" respawn="false" output="screen"/>
    <node pkg="guidance_planner_multi_robot_nodes" type="middleware_subscriber_node.py" name="middleware_from_ZEROMQ_to_ROS_subscriber_node" required="false" respawn="false" output="screen"/>


    <include file="$(find roadmap)/launch/roadmap.launch">
        <arg name="map_file_name" value="$(arg roadmap)"/>
    </include>

    
    <!-- Launch RViz only for jackal1 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_planner_jackal)/rviz/ros1.rviz" output="screen" if="$(eval arg('jackal_name') == 'jackal1')"/>
    
    <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="log"/>  -->
    <node pkg="joy" name="jules_joy_node" type="joy_node">
        <param name="_dev" value="/dev/input/js0"/> 
        <remap from="/joy" to="/$(arg jackal_name)/jules_joy"/>
    </node>

</launch>  
